
:host {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

:host:hover {
  filter: brightness(120%);
  transition: filter 0.25s ease-out;

  .tile-title {
    filter: brightness(60%);
    background-color: rgba(10, 10, 10, 0.6);

    .material-icons, h3 {
      color: #ffffff;
      filter: brightness(200%);
    }
  }
}

.inner-child-container {
  display: block;
  width: 100%;
  height: 100%;

  .tile-title {
    padding: 1% 2%;
    margin-top: 5px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    background-color: rgba(30, 30, 30, 0.5);
    width: 100%;
    overflow: hidden;
    align-items: center;
    
    .material-icons{
      flex: min;
      padding-right: 15px;
    }
  }
}

