.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: transparent;
  --mdc-snackbar-supporting-text-color: transparent;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 8px !important;
}

.mat-mdc-snackbar-surface {
  padding: 0 !important;
}

.mat-mdc-snack-bar-label {
  padding: 0 !important;
}
